---
import EpisodeCard from "@components/EpisodeCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="hello">Welcome to <a href="https://astro.build/">Astro</a></h1>
  <EpisodeCard episode={{ title: "hello", description: "world", scores: [{ name: "Mark", score: 99999999999 }] }}/>
</MainLayout>