---
import characters from "@components/characters.module.css";
const getCharacterStyle = (character: string) =>
  characters[character.toLowerCase()];
const { name } = Astro.props;
---

<span class={getCharacterStyle(name)}>{name}</span>
