---
import styles from "@components/FooterLink.module.css";
import MainFooter from "@components/MainFooter.astro";
---

<div>Who won?</div>
<MainFooter>
  <li>
    <a class={styles.FooterLink} href="#edit-on-github">Edit on Github</a>
  </li>
</MainFooter>
