<style>
header {
    font-family: var(--font-default);
    font-weight: bold;
    
    text-transform: uppercase;
    background-color: var(--color-black);
}
h1 {
    font-size: var(--font-size-5, 36px);
    margin-block-start: 0;
    margin-block-end: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}
img {
    width: 100%;
}
span {
    width: max-content;
}
span.unofficial {
    color: var(--color-green);
}
span.scoreboard {
    color: var(--color-purple);
}
</style>

<header>
<h1>
<span class="unofficial">Unofficial</span>
<img src="/DISTRACTABLE-Logo.png" alt="Distractible"/>
<span class="scoreboard">Scoreboard</span>
</h1>
</header>