<section>
  <div class="distractible-blurb">
    <figure class="max-w-500px">
      <div class="aspect-w-2 aspect-h-3">
        <noscript class="loading-lazy">
          <iframe
            width="500px"
            height="500px"
            loading="lazy"
            src="https://podlink.to/distractiblepodcast/episode/2021-05-14?embed=true"
            title="Trailer for Distractible on Youtube"
          />
        </noscript>
      </div>
      <figcaption>
        <a href="https://podlink.to/distractiblepodcast/episode/2021-05-14">
          Trailer for Distractible on Youtube
        </a>
      </figcaption>
    </figure>

    <div class="blurb">
      <div>This is a fan-made website for Distractible -</div>
      <div>
        ...[a] podcast with Mark Fischbach, Wade Barnes, and Bob Muyskens is a
        space to have thoughtful discussions about funny, out there, or
        otherwise interesting stories from everyday life. Also an opportunity
        for three friends to remind each other they are not as smart as they
        think.
      </div>
      <div class="text-right">-- Distractible Playlist Page</div>
    </div>
  </div>

  <p>
    You can find the scores for everyone on the podcast, updates as soon as we
    can get our hands on them, and breakdowns of the points to the minute on the
    episodes pages!
  </p>
</section>

<style>
  section {
    font-weight: 700;
    font-size: var(--font-size-3);

    color: var(--color-white);

    padding: 1em;
    max-width: 1440px;
    margin-inline: auto;
  }

  section > * + * {
    padding-top: 1em;
  }

  .distractible-blurb {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
  }

  .blurb :nth-child(2) {
    padding-top: 1rem;
  }

  iframe {
    background-color: var(--color-white);
  }
  figure > * {
    margin-inline: auto;
  }
  figure > figcaption {
    padding-top: 0.5rem;
    text-align: center;
  }

  .aspect-w-375,
  .aspect-w-16,
  .sm\:aspect-w-16,
  .aspect-w-4,
  .aspect-w-2 {
    position: relative;

    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  }
  .aspect-w-375 > *,
  .aspect-w-16 > *,
  .sm\:aspect-w-16 > *,
  .aspect-w-4 > *,
  .aspect-w-2 > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;
  }
  .aspect-w-2 {
    --tw-aspect-w: 2;
  }
  .aspect-w-4 {
    --tw-aspect-w: 4;
  }
  .aspect-w-16 {
    --tw-aspect-w: 16;
  }
  .aspect-w-375 {
    --tw-aspect-w: 375;
  }
  .aspect-h-3 {
    --tw-aspect-h: 3;
  }
  .aspect-h-6 {
    --tw-aspect-h: 6;
  }
  .aspect-h-9 {
    --tw-aspect-h: 9;
  }
  .aspect-h-667 {
    --tw-aspect-h: 667;
  }

  .max-w-500px {
    max-width: 500px;
  }
  .text-right {
    text-align: right;
  }
</style>
