---
import styles from "@components/EpisodeTag.module.css";

export interface Score {
  character: "Mark" | "Bob" | "Wade";
  score: number;
}

export interface Props {
  score: Score;
}

const {
  score: { character, score },
} = Astro.props as Props;
---

<div class={styles[character.toLowerCase()]}>{`${character} ${score}`}</div>
