---
import styles from "@components/EpisodeTag.module.css";
import { Score } from "@src/episodes.ts";

export interface Props {
  score: Score;
}

const {
  score: { character, score },
} = Astro.props as Props;
---

<div class={styles[character.toLowerCase()]}>
  <slot>{`${character} ${score}`}</slot>
</div>
