---
import HeadCommon from "@components/HeadCommon.astro";
import MainHeader from "@components/MainHeader.astro";
import MainFooter from "@components/MainFooter.astro";
const { title = "" } = Astro.props;
---

<html lang="en" class="main-layout">
  <head>
    <HeadCommon title={title} />
  </head>

  <body>
    <div class="min-h-screen">
      <MainHeader />
      <main>
        <slot />
      </main>
    </div>
    <MainFooter />
  </body>
</html>

<style>
  :global(html.main-layout) {
    background-color: var(--color-blurple);
    background-image: var(--gradient-blurple);
    font-family: var(--font-default);
    overflow-x: hidden;
  }
  .min-h-screen {
    min-height: 100vh;
  }
</style>
