---
import HeadCommon from "@components/HeadCommon.astro";
import SkipLink from "@components/SkipLink.astro";
import MainHeader from "@components/MainHeader.astro";
import MainFooter from "@components/MainFooter.astro";
const { title = "", class: className = "" } = Astro.props;
---

<html lang="en" class="main-layout">
  <head>
    <HeadCommon title={title} />
  </head>

  <body>
    <div class="min-h-screen">
      <SkipLink />
      <slot name="skip-links" />
      <MainHeader />
      <main id="main" class={className}>
        <slot />
      </main>
    </div>
    <MainFooter>
      <slot name="footer" />
    </MainFooter>
  </body>
</html>

<style>
  :global(html.main-layout) {
    color: var(--color-white);
    background-color: var(--color-blurple);
    background-image: var(--gradient-blurple);
    font-family: var(--font-default);
    overflow-x: hidden;
  }
  .min-h-screen {
    min-height: 100vh;
  }
</style>
