---
import HeadCommon from "@components/HeadCommon.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---
<html lang="en">

<head>
	<HeadCommon/>
</head>

<body>
    <Header/>
	<slot/>
	<Footer/>
</body>

</html>
