---
import HeadCommon from "@components/HeadCommon.astro";
const paths = (await import("@src/component-links")).default.map(
  (x) => new URL(`/storyboard/${x}`, Astro.site)
);
---

<html lang="en" class="storyboard">
  <head>
    <HeadCommon />
  </head>
  <body>
    <ul>
      {paths.map((p) => <li>
          <a href={p}>{p}</a>
        </li>)}
    </ul>
    <div>
      <slot />
    </div>
    <div>
      <slot />
    </div>
    <div>
      <slot />
    </div>
    <div>
      <slot />
    </div>
  </body>
</html>

<style>
  ul {
    margin: 5rem auto;
    width: max-content;
  }
  div {
    contain: layout inline-size;
    resize: horizontal;
    overflow: auto;
    margin: 5rem auto;
    width: 300px;
    outline: solid 5px black;
  }
  div:nth-of-type(1) {
    width: 300px;
  }
  div:nth-of-type(2) {
    width: 728px;
  }
  div:nth-of-type(3) {
    width: 1080px;
  }
  div:nth-of-type(4) {
    width: 1440px;
  }
  :global(html.storyboard) {
    background-color: #e5e5e5;
  }
</style>
